* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bgcolor: radial-gradient(circle, hsla(39, 44%, 70%, 1) 0%, hsla(28, 95%, 71%, 1) 96%);
	--darkcolor: rgb(8, 7, 7);
	--txtcolor: #d28663;
	--firstcolor: #2cbe07;
	--linkcolor: rgba(255, 255, 255, 0.455);
	--shadowcolor: rgba(21, 21, 21, 0.266);
	--activelink: rgb(255, 0, 0);
	--white: rgb(223, 223, 223);
	--title: rgb(143, 61, 242);
}
body {
	max-width: 100%;
}
html {
	scroll-behavior: smooth;
	font-weight: normal;

	font-family: 'Roboto', sans-serif;
	font-family: 'Anton', sans-serif;
}

header {
	display: flex;
	height: 100vh;
	width: 100%;
	background-image: url('../img/barber-big.jpg');
	background-size: cover;
	background-position: center;
}

// nav

.navbar {
	position: sticky;
	top: 0;
	z-index: 1000;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.054);
}

.navbar a {
	text-decoration: none;
	color: var(--txtcolor);
	transition: color 0.3s;
}
.navbar a:hover {
	color: var(--activelink);
}

.navbar .nav-links ul {
	position: absolute;
	display: flex;
	justify-content: flex-start;
	color: var(--txtcolor);
	font-weight: bold;
	font-size: 2.1rem;
	padding-bottom: 1rem;
	text-shadow: 1px 2px 4px #000000;
	list-style: none;
	filter: blur(0.02rem);
}
.navbar .nav-links ul li {
	margin: 1rem 3rem;
}
.navbar .nav-links ul li.active a {
	color: var(--activelink);
	font-weight: 600;
}
.navbar .menu-hamburger {
	display: none;
	position: absolute;
	top: 1rem;
	width: 3.5rem;
	left: 1rem;
}
.menu-hamburger {
	transition: transform 0.4s;
}
.menu-hamburger:hover {
	animation: myAnim 2s ease 0s 1 normal forwards;
	border-radius: 50%;
	cursor: pointer;
}
@keyframes myAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 20px 0px rgba(250, 248, 248, 0.35);
		transform: scale(1.1);
	}
}
.mobile-menu {
	text-align: center;
	margin-left: 0;
}

.logo img {
	width: 15rem;
	height: 15rem;
	position: absolute;
	top: 0;
	right: 5%;
	filter: drop-shadow(8px 10px 18px #000000);
}
.responsive-iframe {
	flex: 1 1 300px;
	height: 300px;
	border: 0;
}
// media
@media (max-width: 320px) {
	h2.head-title {
		font-size: 1rem;
		overflow-x: scroll;
	}
	.card .description h3 {
		font-size: 0.8rem;
	}
	.card .description .name {
		font-size: 0.6rem;
	}

	.card .description .owner-info {
		font-size: 0.5rem;
	}
}

@media (max-width: 450px) {
	.title-mobile {
		font-size: 0.4rem;
	}
}
@media (max-width: 480px) {
	p.owners-info-text {
		font-size: 0.8rem;
	}

	.card .description h3 {
		font-size: 2rem;
	}
	.card .description .name {
		font-size: 0.2rem;
	}

	.card .description .owner-info {
		font-size: 0.1rem;
	}
}

@media (min-width: 581px) {
	.card {
		width: calc(50% - 2rem);
	}
}
@media (max-width: 580px) {
	h1.title-mobile {
		font-size: 2.5rem;
	}
	h2 {
		margin-top: -5rem;
	}
	#aboutus {
		flex-direction: column;
	}
	.card {
		width: calc(60% - 2rem);
	}
}

@media (max-width: 768px) {
	.navbar .nav-links ul {
		flex-direction: column;
	}

	.logo img {
		width: 10rem;
		height: 10rem;
	}
	h2.head-title {
		font-size: 2rem;
	}
	.titlebox {
		font-size: 2rem;
	}

	.hero-img,
	.contact-form-box {
		width: 90%;
		margin: 0 auto;
	}

	.offers-container {
		flex-wrap: wrap;
	}

	.offer {
		width: 100%; /* Zwiększenie szerokości karty na urządzeniach mobilnych */
		max-width: none; /* Usunięcie ograniczenia maksymalnej szerokości */
		height: 50%; /* Opcjonalnie, dostosowanie wysokości karty */
		margin: 5px; /* Mniejszy margines */
		text-align: left;
	}

	.offer h3.mobile-title {
		margin: auto;
		font-size: 1rem;
		display: block;
		white-space: normal;
	}

	.offer p {
		display: none;
	}

	.offer:hover p {
		font-size: 0.6rem;
		display: block;
	}

	.responsive-iframe {
		height: 400px;
	}

	.contact-content {
		grid-template-columns: 1fr 1fr; /* Dwukolumnowy układ na większych ekranach */
		align-items: start; /* Wyśrodkowanie elementów u góry */
	}

	.responsive-iframe {
		height: 400px; /* Zwiększamy wysokość mapy */
	}

	.contact-form {
		height: 100%; /* Automatyczna wysokość formularza */
	}
}
@media (max-width: 800px) {
	header {
		background-size: cover;
		background-position: center;
	}
	.navbar {
		padding: 0;
	}
	.navbar img {
		position: absolute;
		top: 1rem;
		left: 1rem;
	}

	.navbar .menu-hamburger {
		display: block;
		position: absolute;
	}
	.nav-links.mobile-menu {
		margin-left: 0;
	}
	.nav-links {
		display: flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(1rem);
		margin-left: -100%;
		transition: all 0.5s ease;
		font-size: 2rem;
	}
	.nav-links ul {
		display: flex;
		flex-direction: column;
	}
	.navbar .nav-links ul li {
		margin: 2.5rem 0;
		font-size: 1.4rem;
	}
	.card {
		max-width: 16rem;
		max-height: 15rem;
	}
}
@media (max-width: 960px) {
	.navbar .logo-co {
		width: 10rem;
		height: 10rem;
	}
}

@media (max-width: 1300px) {
	.nav-links ul li a {
		font-size: 1.8rem;
	}
	.title-mobile {
		text-align: center;
	}

	.contact-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		position: relative;
		.map-title {
			position: relative;
			margin-top: 0.5rem;
			font-size: 1.5rem;
		}
		.map {
			justify-content: center;
			align-items: center;
			margin: 2rem auto;
		}
	}
}

.titlebox {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100%;
}
.icon-down {
	align-self: flex-end;
	align-items: center;
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	padding: 1rem;
	cursor: pointer;
	.down {
		width: 5rem;
		height: 5rem;
	}
}

h1,
.head-title {
	font-size: 4rem;
	color: var(--title);
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-top: 3rem;
	font-weight: 400;
	text-shadow: 1px 2px 4px #000000;
}

// about us

.hero-img {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url('../img/barbershop-4762345_1280.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hero-shadow {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	z-index: -10;
}
.titlebox {
	display: flex;
	width: 100%;
}
button.question {
	position: absolute;
	top: -1.5rem;
	left: -2rem;
	padding: 2rem;
	background: none;
	border: none;
	color: var(--txtcolor);
	font-size: 2.5rem;
	text-shadow: 2px 2px 10px rgba(8, 97, 20, 0.704);
	cursor: crosshair;
	z-index: 10;
}

button.question:hover ~ .description {
	// clip-path: circle(120% at 50% 90%);
	// box-shadow: 6px 6px 10px rgba(232, 7, 29, 0.8);
	transform: translateY(0);
}
p.owners-info-text {
	margin: 1rem 2rem;
	text-align: center;
	font-size: 1.3rem;
	color: var(--firstcolor);
	text-shadow: 1px 3px 3px #000000;
}

#aboutus {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	position: relative;
	display: flex;
	margin: 1rem;
	overflow: hidden;
	box-shadow: 0 0 10px rgb(198, 12, 12);
	transition: transform 0.3s ease;
	border-radius: 15px;
	max-width: 45rem;
	width: 18rem;
	min-height: 10rem;
	height: 40rem;
}

.owner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	box-shadow: 6px 6px 10px rgba(232, 127, 7, 0.8);
}

.card-one,
.card-two {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.card-one {
	background-image: url('../img/beard-4136705_1280.jpg');
}

.card-two {
	background-image: url('../img/man-6692571_1280.jpg');
}

.card .description {
	position: absolute;
	bottom: 0;
	background: rgba(255, 255, 255, 0.192);
	color: black;
	height: 100%;
	width: 100%;
	text-align: center;
	transform: translateY(100%);
	transition: transform 0.3s ease;
	display: flex;
	flex-direction: column;
}

.card .description h3 {
	font-size: 2rem;
	color: var(--white);
	text-shadow: 1px 3px 3px #000000;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card .description .name {
	font-size: 1.2rem;
	margin: 0.3rem 0;
	overflow: hidden;
	color: var(--activelink);
	text-shadow: 1px 3px 3px #000000;
	white-space: nowrap;
}

.card .description .owner-info {
	font-size: 1rem;
	margin: 0 1rem;
	color: var(--txtcolor);
	text-shadow: 1px 1px 1px #000000;
}

// offers
#offers,
#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
#offers {
	background-image: url('../img/barber2.jpg');
	background-position: center;
	background-size: cover;
}
.offers-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	height: 50rem;
	align-items: center;

	margin: auto;
	gap: 50px;
}
.first .offer-bg {
	background-image: url('../img/barber-2507764_640.jpg');
}
.second .offer-bg {
	background-image: url('../img/agustin-fernandez-1Pmp9uxK8X8-unsplash.jpg');
}
.third .offer-bg {
	background-image: url('../img/gustavo-ferreira-mGMWpkCdTuU-unsplash.jpg');
}
.fourth .offer-bg {
	background-image: url('../img/clay-banks-k-vs3m7UzcE-unsplash.jpg');
}
.offer {
	position: relative;
	width: 30%;
	max-width: 40rem;
	height: 15rem;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
.offer-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	filter: blur(2px);
	transition: filter 0.3s ease-in-out;
	z-index: 1;
}
.offer-content {
	width: 100%;
	position: relative;
	z-index: 2;
	text-align: center;
}

.offer:hover {
	transform: scale(1.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	filter: none;
}
.offer:hover .offer-bg {
	filter: none;
}

.offer h3 {
	font-size: 2rem;
	background-color: rgba(129, 96, 96, 0.229);
	padding: 5px 10px;
	border-radius: 5px;
	color: red;
	text-shadow: 1px 1px 3px #000000;
}
.offer:hover h3 {
	display: none;
}
.offer p {
	display: none;
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	text-align: center;
	margin: 10px;
	text-shadow: 1px 3px 7px #000000;
}

.offer:hover p {
	display: block;
}

// contact
#contact {
	background-image: url('../img/barber-1017457_1920.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	min-height: 100vh;
}

.contact-content {
	display: grid;
	grid-template-columns: 1fr; /* Jednokolumnowy układ dla urządzeń mobilnych */
	gap: 20px;
	width: 100%;
	max-width: 800px;
	align-items: center;
}

.responsive-iframe {
	width: 100%;
	height: 250px; /* Dostosowujemy wysokość */
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
	width: 100%;
	max-width: 600px;
	background-color: var(--DarkWhiteBcg);
	box-shadow: var(--shadow);
	border-radius: 0.3rem;
	padding: 10px;
}

.contact-form-box {
	width: 100%;
}

.contact-box {
	display: flex;
	flex-direction: column;
}
.contact-form label {
	color: var(--firstcolor);
	font-size: 1.2rem;
	text-shadow: 1px 2px 4px #000000;
}
.contact-form input,
.contact-form textarea,
.contact-form button.send {
	padding: 0.3rem;
	font-size: 0.9rem;
	font-family: inherit;
	border-style: none;
	border-radius: 0.3rem;
	box-shadow: var(--shadow);
}
.contact-form textarea {
	resize: vertical;
}
.contact-form button.send {
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	transition: background-color 0.5s;
}
.contact-form button.send:hover {
	color: var(--white);
	background-color: var(--firstcolor);
}
.msg-status {
	position: absolute;
	bottom: 50px;
	right: 50px;
	display: none;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	width: 200px;
	height: 2rem;
	border-radius: 0.3rem;
	font-size: 1rem;
}
.success {
	display: flex;
	background-color: hsl(143, 83%, 55%);
}
.error {
	display: flex;
	background-color: hsl(9, 100%, 65%);
}
.email-address {
	margin-bottom: 4rem;
	font-size: 1rem;
}
button.send {
	width: 6rem;
	height: 2rem;
}

.map {
	display: flex;
	justify-content: center;
}
.map-title {
	display: flex;
	font-size: 2rem;
	color: var(--activelink);
}

.email-address {
	font-size: 1rem;
	color: var(--activelink);
}
footer {
	padding: 1rem;
	width: 100%;
	background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

.boxicon-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: auto;
	width: 100%;
	list-style: none;
	background-color: var(--shadowcolor);
	margin: 0;
	padding: 0;
	text-shadow: var(--shadow);
	border-radius: 1rem;
}

img.corvus-logo {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}
